@keyframes borderColorChange {
  0% {
    border-color: #3b82f6; /* Indigo */
  }
  25% {
    border-color: #10b981; /* Emerald */
  }
  50% {
    border-color: #f59e0b; /* Amber */
  }
  75% {
    border-color: #ef4444; /* Red */
  }
  100% {
    border-color: #3b82f6; /* Indigo */
  }
}

.animated-border {
  border-width: 4px;
  border-style: solid;
  animation: borderColorChange 3s linear infinite;
}

/* animated background */


body {
  min-height: 100vh;
  background: #0c192c;
}

.container {
  position: absolute; /* Change to absolute to position it behind other content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; /* Ensure it is behind the form */
}

.bubbles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(60s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}
